@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

//* Création de Spacer
$spacer : 5px;

$spacers : map-merge($spacers, (
0 : 0px ,
1 : $spacer*1 ,
2 : $spacer*2 ,
3 : $spacer*3 ,
4 : $spacer*4 ,
5 : $spacer*5 ,
6 : $spacer*6 ,
7 : $spacer*7 ,
8 : $spacer*8 ,
9 : $spacer*9 ,
10 : $spacer*10 ,
11 : $spacer*11 ,
12 : $spacer*12 ,
13 : $spacer*13 ,
14 : $spacer*14 ,
15 : $spacer*15 ,
16 : $spacer*16 ,
17 : $spacer*17 ,
18 : $spacer*18 ,
19 : $spacer*19 ,

));

$couleur-perso : (
"orange" : #D5A24F,
"rose"   : #df46c8,
"bleuClaire"  : #32a2b8,
"purple"  : #6936ba,
"gris"  : #f8f9fa,

);

$theme-colors : map-merge($theme-colors , $couleur-perso);