#section1
    height: 850px
    width: 100%
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/about-bg.jpg)
    background-position: 10% 0% !important
    background-size: 101%
    background-attachment: fixed


.sec1li
    list-style-type: none   


#divsec1R
     height: 74%
     width: 89.5%  
     background-image: url(../img/about.jpg)
     background-size: cover
     background-position: center
     background-repeat: no-repeat
     margin-left: 17px
     border: #3B4043 5px solid 
     transition: 1s


#divinsecR
    height: 95%
    width: 95%
    // background: red   
    display: flex
    transition: 1s
    
    
    .carrersec1
        height: 14%
        width: 10%
        // background: purple
    #highsquare
        border-left: 7px #D5A24F solid
        border-top: 7px #D5A24F solid  
        // position: absolute  
    #bottomsquare
        margin-top: 62.7%
        margin-left: 79.8%
        border-right: 7px #D5A24F solid
        border-bottom: 7px #D5A24F solid


#divsec1R:hover 
    transform: scale(1.1)
    

#divinsecR:hover
    transform: scale(1.03)


#scroll_to_top 
  position: fixed
  width: 25px
  height: 25px
  bottom: 50px
  right: 30px

#scroll_to_top i
  


#divbtntop
    height: 50px
    width: 50px
    border: 3px solid #D5A24F

.txtdeco 
    text-decoration: none   
