#section8
    width: 100%
    height: 1352px
    background: #0B0B09
    .textsec8
        width: 90%
    #formsec8
        width: 95%
        height: 50%
        
        #divleftsec8
            width: 30%
            height: 100%
            
        #divrightsec8
            width: 70%
            height: 100%
           
                
    
.samediv
    
    height: 20%
    width: 90%
   

#grossediv
    
    height: 22%
    width: 90%
   


.logocircle
    height: 60px
    width: 60px
    background: #D5A24F    


.porangesec8
    color: #BAB3A5       



.doubleinput
    width: 48% !important
    height: 13%
    border: 1px solid #443F34 !important

.emailinput
    height: 13%
    width: 100% 
    border: 1px solid #443F34 !important

#txtareasec8
    width: 100%
    height: 60%
    border: 1px solid #443F34 !important
    


#divsizeform
    height: 69%
    width: 89%


#btsec8
    height: 10%
    width: 19%     


    
    
    