#section6
    width: 100%
    height: 1050px
    background: red
    .textsec6
        width: 89%
    #divsec6
        width: 97%
        height: 69%
        background: yellow
        
        .divimg
            height: 50%
            width: 25%
            background: blue
            border: 1px solid red
            overflow: hidden


.divimg:hover img
    height: 110%
    width: 110%  
    transform: scale(1.1)         