#section7
    width: 100%
    height: 800px
    background: #0B0B09
    .textsec7
        width: 90%
    #div3img
        height: 70%
        width: 90%
        
        
        .imgindivsec7
            height: 100%
            width: 32%
            // .divinblack
            //     height: 100%
            //     width: 100%
            //     background: black
            
           


#imgleftsec7
    background-image: url(../img/chefs/chefs-1.jpg)
    

#imgcentersec7
    background-image: url(../img/chefs/chefs-2.jpg)

#imgrightsec7
    background-image: url(../img/chefs/chefs-3.jpg)           
    

#imgleftsec7:hover .opacitysec7
    background-image: linear-gradient(rgba(255,0,0,0), #000000)    
    
    height: 100%
    width: 100%

#imgcentersec7:hover .opacitysec7
    background-image: linear-gradient(rgba(255,0,0,0), #000000)    
    
    height: 100%
    width: 100%

#imgrightsec7:hover .opacitysec7
    background-image: linear-gradient(rgba(255,0,0,0), #000000) 
    height: 100%
    width: 100% 



       